body {
  margin: 0;
  font-family: 'CircularStd' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

code {
  font-family: 'CircularStd' !important;
}
